.modal-contenido {
  background: #212529;
  width: 70%;
  padding: 1.25rem 1.25rem;
  margin: 20% auto;
  margin-top: 5%;
  position: relative;
  border-radius: 10px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
  align-content: center;
}

#miModal:target {
  opacity: 1;
  pointer-events: auto;
}

.close {
  color: #adb5bd;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  margin: 2em;
}

.content {
  display: grid;
  grid-gap: 1.875rem;
  margin: 0.9375rem;
  margin-top: 3em;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: repeat(3, auto);
}

@media (max-width: 950px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}

.crop-image {
  height: 12.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.crop-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

.noComics {
  text-align: center;
  align-content: center;
  grid-template-columns: repeat(1, 1fr);
  margin: 3em;
}

.imgFail {
  width: 100%;
  max-width: 18.75rem;
}

.buttonFavorite {
  text-align: center;
  align-items: center;
  align-content: center;
  cursor: cell;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.buttonFavorite:disabled {
  background: #484646;
  cursor: not-allowed;
}

.card-body {
  align-content: center;
  justify-content: center;
  text-align: center;
}

.card {
  position: relative;
  padding-bottom: 4rem;
}
