<div id="miModal" class="modal">
    <div class="modal-contenido">
        <a class="close" href="#"><i class="fas fa-times-circle pulse"></i></a> <br>
        <app-loading class="loading" *ngIf="loading"></app-loading>
            
        <div class="noComics" *ngIf="comics.length === 0 && loading == false">
            <h2 >No comics here <i class="fas fa-heart-broken"></i></h2> <br>
            <img class="imgFail" src="./../../../assets/imgs/fondoMarvel.png">
        </div>

        <div class="content">
            <div *ngFor="let comic of comics" class="card fadeIn">
                <div class="crop-image">
                    <img src="{{comic.thumbnail.path + '/standard_amazing.'+comic.thumbnail.extension }}">
                </div>

                <div class="card-body">
                    <h4 class="card-title title"> {{ comic.name ? 'Do not record information about this comic.' : comic.name}} </h4> <br>
                    <p class="card-text text">{{ comic.description ? (comic.description | slice: 0:350) : 'Do not record information about this comic.' }} </p>
                    <button class="buttonFavorite" [disabled]="comic.clicked" (click)="comicTouch(comic); comic.clicked = true;"> {{comic.clicked == true ? 'Comic added' : '+ Add to favorites'}} </button>
                </div>
            </div>

        </div>

    </div>
</div>