<div class="pagination">
    <a *ngIf=" actualPage >= 1 " (click)="changePage( actualPage - 1)">&laquo;</a>
    <a *ngFor="let i of pages" [ngClass]="{ active: i === actualPage }" (click)="changePage(i)"> {{ i + 1 }}</a>
    <a class="active" *ngIf=" actualPage > 3"> {{ actualPage + 1 }} </a>
    <a (click)="changePage( actualPage + 1)">&raquo;</a>
</div>