.pagination {
  display: inline-block;
  color: #adb5bd;
}

.pagination a {
  color: #adb5bd;
  padding: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s;
  border-color: #adb5bd;
  border-style: solid;
  border-radius: 50%;
  margin: 0.2em;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  text-align: center;
}

.pagination a.active {
  background-color: #ec1e23;
  color: #adb5bd;
}

.pagination a:hover:not(.active) {
  background-color: #343a40;
}

.description {
  text-align: justify;
  font-size: 0.9375rem;
}

.pagination-steps {
  display: inline-block;
}
