.logo {
  width: 6em;
  height: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="text"] {
  padding: 0.375rem;
  padding: 0.5em;
  font-size: 1.0625rem;
  border-radius: 2.5rem;
  border-style: solid;
  font-weight: bold;
}
