<nav class="nav">
    <div class="logo">
        <img class="logo bounce" src="../../../assets/imgs/marvel.png">
    </div>

    <div class="buscador">
        <form>
            <input class="search" [formControl]="search" type="text" placeholder="Search hero...">
        </form>
    </div>

</nav>