:host {
  display: flex;
  align-items: stretch;
  height: 100%;
}
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 0.5fr;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  align-items: stretch;
}

.card-header {
  grid-area: 1 / 1 / 2 / 2;
}

.card-body {
  grid-area: 1 / 2 / 2 / 3;
}

.list-comic {
  grid-area: 2 / 1 / 3 / 3;
  overflow-y: scroll;
}
.list-comic::-webkit-scrollbar {
  display: none;
}
.card-footer {
  text-align: center;
  justify-content: center;
  grid-area: 3 / 1 / 4 / 3;
}

.card-img {
  width: 15.625rem;
  height: 15.625rem;
  border-radius: 50%;
  border: 10px solid #666;
  margin-left: -1.5625rem;
  margin-top: -1.5625rem;
}

.card-title {
  color: #ec1e23;
  margin: 00.5em;
}

@media (max-width: 950px) {
  .card-title {
    margin: 1em;
  }

  .description {
    margin: 0.5em;
  }
}

.button {
  background-color: #ec1e23;
  color: white;
  padding: 0.625rem;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 7px;
  vertical-align: middle;
}

a :hover {
  background-color: #ec1e23;
}

.comic {
  font-size: 0.8125rem;
  margin: 0.2em;
}
