<div class="card">
    <div class="parent">

        <div class="card-header">
            <img class="card-img" src="{{hero.thumbnail.path + '/standard_amazing.' + hero.thumbnail.extension}}">
        </div>

        <div class="card-body">
            <h2 class="card-title"> {{ hero.name ? hero.name : 'Do not record information about this hero.' }}</h2> <br>
            <p class="description">{{ hero.description ? ( hero.description | slice: 0:250 ) : 'Do not record information about this hero' }} </p>
        </div>

        <div class="list-comic">
            <a class="comic" *ngFor="let comic of hero.comics.items "> {{ " ■ "+comic.name + " | " }}</a>
        </div>

        <div class="card-footer">
            <a (click)="openDetail(hero.id)" class="button" href="#miModal"><i class="fas fa-search"></i> View more</a>
        </div>

        <app-comics (newComic)="changePage($event)" *ngIf="heroId > 0" [heroId]="hero.id"></app-comics>
    </div>
</div>