.heroes {
  display: grid;
  grid-gap: 1.875rem;
  grid-template-columns: repeat(2, 1fr);
}

.heroesCabecera {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
  margin-bottom: 3em;
}

@media (max-width: 950px) {
  .heroes {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
}

@media (max-width: 950px) {
  .heroesCabecera {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin: 1em;
  }
  .paginador {
    margin: 2em;
  }
}
