<div class="heroesCabecera">

    <div class="titulo">
        <h1><img class="tossing" src="../../../assets/icons/characters.png"> HEROS</h1>
    </div>

    <div class="paginador">
        <app-paginator (newPage)="changePage($event)"></app-paginator>
    </div>

</div>

<app-loading class="loading" *ngIf="loading"></app-loading>

<div class="heroes">
    <app-hero (newComic)="addComic($event)" *ngFor="let hero of heros" [hero]="hero"></app-hero>
</div>