.navbar {
  background: #ee1921;
  padding: 1em;
}

.content {
  display: grid;
  grid-gap: 30px;
  margin: 15px;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: repeat(2, auto);
}

.content > div,
.content .heros,
.content .favorites {
  /* background: #ffff; */
  padding: 10px;
  border-radius: 4px;
}

.content .heros {
  grid-column: span 3;
}

.content .favorites {
  grid-column: span 1;
  background: #212529;
  border-radius: 20px;
  width: 100%;
}

@media (max-width: 1100px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}

@media (min-width: 1100px) {
  .content .favorites {
    max-width: 20.625rem;
  }
}
