<div class="navbar">
  <app-navbar (searchHeros)="searchHeros($event)"></app-navbar>
</div>

<div class="content">

  <div class="heros">
    <app-heros [heros]="heros" (newComic)="addComic($event)"></app-heros>
  </div>

  <div class="favorites">
    <app-favorites (clickRandom)="clickRandom()" (removeComic)="removeComic($event)" [favoriteComic]="favoriteList">
    </app-favorites>
  </div>

</div>