* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #1d2124;
  color: #adb5bd;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}

@media (max-width: 950px) {
  body {
    font-size: 13px;
  }
}

h1 {
  color: #ec1e23;
}

p {
  color: #adb5bd;
}

.card {
  background: #343a40;
  padding: 1em;
  border-radius: 10px;
}

.button {
  background-color: #ec1e23;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 7px;
}

.icon {
  height: 25px;
  width: 25px;
}

button {
  background-color: #ec1e23;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 7px;
  font-weight: bold;
  display: inline-block;
  border: none;
  align-items: center;
}

.loading {
  text-align: center;
  justify-content: center;
  align-items: center;
}
