<div class="favoritosCabecera">
  <button class="button" (click)="RandomFavorite()">
    <img class="iconRandom bounce" src="../../../assets/imgs/dice.svg" /> +3
  </button>
  <div class="headFavorites">
    <img class="imgFavoritos" src="../../../assets/icons/favourites.png" />
    <h1>My favorites</h1>
  </div>
</div>

<div class="content">
  <h2 class="noComics" *ngIf="favoriteComic.length == 0">
    You don't have favorite comics <i class="fas fa-heart-broken"></i>
  </h2>
  <div *ngFor="let comic of favoriteComic" class="card slideLeft">
    <a (click)="removeFavorites(comic)" class="trash"
      ><img class="imgFavoritos" src="../../../assets/icons/btn-delete.png"
    /></a>
    <div class="crop-image">
      <img
        *ngIf="comic.images[0]"
        src="{{ comic.images[0].path + '.' + comic.images[0].extension }}"
      />
      <img *ngIf="!comic.images[0]" src="../../../assets/imgs/escudoCap.png" />
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ comic.title }}</h4>
    </div>
  </div>
</div>
