:host {
  margin-left: auto;
}

.contentFavorite {
  margin: 0.5em;
}

.favoritosCabecera {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  flex-wrap: wrap;
}

.imgFavoritos {
  margin: 0.5em;
  height: 2.5em;
  width: auto;
}

.crop-image {
  height: 15.625rem;
}
.crop-image img {
  width: 100%;
  height: 15.625rem;
  object-fit: contain;
}

.card-title {
  padding: 1em;
  text-align: center;
}

.trash {
  padding: 1em;
  margin-left: -1em;
  margin-top: -5em;
  cursor: pointer;
}

.card {
  margin: 0.5em;
}

.iconRandom {
  height: 2rem;
}

.iconRandom:hover {
  cursor: help;
}

.noComics {
  text-align: center;
  margin-top: 3em;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 3px solid #ec1e23;
  width: 100%;
  font-size: 2rem;
  height: 4.5rem;
}

.button:hover {
  border: 4px solid #ec1e23;
}

.headFavorites {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 1.5em;
}
